.glossarytooltip {
    cursor: help;
    border-bottom: 2px dotted #963c38;
}
.ui.popup {
    hyphens: auto;
    max-width: 25rem;
    font-size: 75% !important;
}

.hidden-helper {
    display: none;
}
